@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,600&display=swap");

@import "reset.css";
@import "links.css";

/* non-hierarchial import */
@import "header.css";
@import "article.css";
@import "menu.css";
@import "footer.css";

@import "section.batepapo.css";
@import "section.portfolio.css";
@import "section.toaqui.css";

@import "horizontalscroll.css";


html {
 scroll-behavior: smooth;

}

body {

  background-color: #000;
  font:12px 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

}


p {
 
  font-size: 1.8em;
  line-height: 0.4em;
  color: antiquewhite;
  margin-bottom: 22px;
  
}




@media (min-width:769px) {

  article { 
    max-width: 70vw;
    padding-right: 110px;
  }

}

article p {
 
  font-size: 1.8em;
  line-height: 1.4em;
  color: antiquewhite;
  margin-bottom: 22px;
  
}



section {
  position: relative;
}

section h1 {
  font-size: 4.5em;
  font-weight: 800;
  letter-spacing: -7px;
  
  position: absolute;
  transform: rotate(90deg) ;
  z-index: 5;
}

section h1 a {
  opacity: 0.3;
}

@media (min-width: 769px) {

  section h1 {
    display: block;
    transform: rotate(0deg);
  }
  
}

section h1 span {

  background-color: transparent;
  
  opacity: 0.7;
  display: block;
  height: 100%;


  position:absolute;
  right:0;
  top:0;

}

section.sobre h1 span { width: 82%; }
section.portfolio h1 span { width: 86.6%; }
section.batepapo h1 span { width: 89%; }
section.toaqui h1 span { width: 84.5%; }

/*
section h1 { top: 50vh }
*/



/* h1 positons */
section.sobre h1 { left: -55px; top: 60px; }/*18px;*/
section.portfolio h1 { left: -85px; top: 82px; /*45px*/ }
section.batepapo h1 { left: -108px; top: 108px; /*69px*/ }
section.toaqui h1 { left: -70px; top: 73px; /*33px*/}


section.portfolio h1 a { color: #111; opacity: 0.7 }
section.batepapo h1 a { color: #fff; opacity: 1 }
section.toaqui h1 a { color: #66c; opacity: 0.9 }



@media (min-width:769px) {

  section h1 { top: 45vh }

  section h1 {
    font-size: 7.2em;
    left: calc(100vw - 42px);
    letter-spacing: -14px;
    top: calc(50vh - 78px);
  }

  section h1 a { opacity: 0.6 }

  section.sobre h1 { left: -60px; top: 37vh }
  section.portfolio h1 { left: -60px; top: 37vh }
  section.batepapo h1 { left: -60px; top: 37vh }
  section.toaqui h1 { left: -60px; top: 37vh }
  
} /* END @media */



@media (min-width:769px) {

  section h1 {
   
    font-size: 9.2em;
    left: calc(100vw - 60px);
    
  }

}

/**

  HEADER

*/



section {
  padding: 50px 0;
}

section:not([id]) {
  display: none;
}


section.sobre {
    
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  justify-content: center;

}

@media (min-width: 769px) {

  section.sobre {
    justify-content: flex-end;
  }

}

section.sobre h2::before {
  content: "# ";
}

section.sobre h2 {
  color: #ff729a;
  font-size: 1.83em;
  margin: 45px 0 4px;
}

section.sobre article ul {
  list-style-position: inside;
}

section.sobre article li {
  line-height: 35px;
  color: #ff729a;
  font-size: 1.83em;

}

section.sobre article p mark {
  display: inline-block;
  padding: 0 6px;
}

section.sobre article a {

  color: #FFFF00;
  text-decoration: underline;

}

section.sobre article a:hover {
  text-decoration: none;
}

